{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.
{% endcomment %}

{% capture component %}
  <figure class="figure figure--image figure--image--{{ include.src | slugify }} {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if include.link_url %}<a href="{{ include.link_url }}">{% endif %}
      <picture class="picture picture--lazy-load layout--hide--no-javascript" itemprop="image">
        {% capture webp_path %}/assets/images/{{ include.src }}.webp{% endcapture %}
        {% assign webp_version = site.static_files | where: "path", webp_path | first %}
        {% if webp_version %}
          <source srcset data-srcset="{{ webp_version.path | relative_url }}" type="image/webp">
        {% endif %}
        <img src data-src="{{ site.subpath }}/assets/images/{{ include.src }}" alt="{{ include.alt }}" loading="lazy" />
      </picture>
      <noscript>
        <img src="{{ site.subpath }}/assets/images/{{ include.src }}" alt="{{ include.alt }}" loading="lazy" />
      </noscript>
    {% if include.link_url %}</a>{% endif %}
    {% if include.caption %}
      <figcaption class="figcaption figure--image--figcaption">{{ include.caption }}</figcaption>
    {% endif %}
  </figure>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Images are visual representations.
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
  alt| appropriate alt text| A circus clown,
  caption| an optional caption| We saw this guy at the circus,
  classes| css classes applied to parent| color--main-dark,
  link_url| an optional link to wrap it| http://www.google.com,
  src| the filename/subpath of the image in /assets/images/| circus-clown.jpg
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
