{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.

aria-current="true"
{% endcomment %}

{% capture component %}
  <nav class="collection-hierarchy nav molecule molecule--collection-hierarchy {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if site[include.collection] %}
      <ul class="collection-hierarchy--list list-style--none">
        {% assign collection = site[include.collection] | sort: "url" %}
        {% for entity in collection %}

          {% assign split_current_path =  entity.url | split: "/" %}
          {% assign current_path_depth = split_current_path | size | minus: 1 %}

          {% comment %} First item opens but does not traverse. {% endcomment %}
          {% if forloop.first %}
            {% for i in (2..current_path_depth) %}
              {% if i != current_path_depth %}
                <li><strong>{{ split_current_path[i] | replace: "-", " " | capitalize }}</strong>
                  <ul>
              {% else %}
                <li><a href="{{ entity.url | relative_url }}" class="
                  {% if entity.url == include.entity.url %}active{% endif %}
                ">{{ entity.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% comment %} All the middle items traverse the tree. {% endcomment %}
          {% if previous_entity %}

            {% assign split_previous_path =  previous_entity.url | split: "/" %}
            {% assign previous_path_depth = split_previous_path | size | minus: 1 %}

            {% comment %} Step 1: Close down to common. {% endcomment %}
            {% for i in (1..previous_path_depth) %}
              {% assign j = previous_path_depth | minus: i %}

              {% if split_current_path[j] != split_previous_path[j] and j > 0 %}
                </ul></li>
              {% else %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% comment %} Step 2: Open up to complete. {% endcomment %}
            {% assign k = j | plus: 1 %}
            {% for l in (k..current_path_depth) %}
              {% if l != current_path_depth %}
                <li><strong>{{ split_current_path[l] | replace: "-", " " | capitalize }}</strong>
                  <ul>
              {% else %}
                <li><a href="{{ entity.url | relative_url }}" class="
                  {% if entity.url == include.entity.url %}active{% endif %}
                ">{{ entity.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% comment %} Last item closes up shop. {% endcomment %}
          {% if forloop.last %}
            {% if current_path_depth >= 3 %}
              {% assign closing = current_path_depth | minus: 2 %}
              {% for d in (1..closing) %}</ul></li>{% endfor %}
            {% endif %}
          {% endif %}

          {% comment %} Traversal requires the previous item. {% endcomment %}
          {% assign previous_entity = entity %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Cards are represent content that has its own page.

  @see https://inclusive-components.design/cards/
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.

  @see https://www.a11ymatters.com/pattern/pagination/
{% endcapture %}

{% capture props %}
  base_url| The URL of the page with the pager| /blog/
  classes| css classes applied to parent| color--main-dark,
  page| The current page number| 1,
  next_page| Bool whether there is a next page| false,
  next_page_path| The next page path given to the paginator object| page-4,
  previous_page| Bool whether there is a previous page| false,
  previous_page_path| The previous page path given to the paginator object| page-2,
  total_pages| Total number of paginated pages| 4
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
