{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.

aria-current="true"
{% endcomment %}

{% capture component %}
  <div class="collection-hierarchy molecule molecule--collection-hierarchy {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if site[include.collection] %}
      <ul>
        {% for entity in site[include.collection] %}
          <li class="collection-hierarchy--item
            {% if entity.url == include.entity.url %}active--item{% endif %}
          ">
            <a href="{{ entity.url | relative_url }}" class="collection-hierarchy--link
              {% if entity.url == include.entity.url %}active{% endif %}
            ">
              {{ entity.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Cards are represent content that has its own page.

  @see https://inclusive-components.design/cards/
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.

  @see https://www.a11ymatters.com/pattern/pagination/
{% endcapture %}

{% capture props %}
  base_url| The URL of the page with the pager| /blog/
  classes| css classes applied to parent| color--main-dark,
  page| The current page number| 1,
  next_page| Bool whether there is a next page| false,
  next_page_path| The next page path given to the paginator object| page-4,
  previous_page| Bool whether there is a previous page| false,
  previous_page_path| The previous page path given to the paginator object| page-2,
  total_pages| Total number of paginated pages| 4
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
