{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.

aria-current="true"
{% endcomment %}

{% capture component %}
  <nav role="navigation" aria-label="Pagination. On page {{ include.page }} of {{ include.total_pages }}"
    class="display--flex layout--row {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if include.previous_page %}
      <div class="flex--1 text-align--left">
        <a class="pager--link pager--link--prev button" href="{{ include.previous_page_path | relative_url }}">
          Previous<span class="a11y--visually-hidden"> page, {{ include.previous_page }}</span>
        </a>
      </div>
    {% endif %}

    <ul class="pager--numbered list-style--none flex--2 align-items--center display--flex justify-content--center">
      {% for page in (1..paginator.total_pages) %}
        <li class="pager--numbered--number flex--1 {% if page == paginator.page %}pager--number--current{% endif %}">
          <a class="pager--link pager--numbered--link button {% if page == paginator.page %}pager--link--current active{% endif %}"
             {% if page == 1 %}
               href="{{ include.base_url }}"
             {% else %}
              href="{{ site.paginate_path | relative_url | replace: ':num', page }}"
             {% endif %}
             {% if page == paginator.page %}
               aria-current="true" aria-label="Current Page, Page {{ page }}"
             {% endif %}
          >
            <span class="a11y--visually-hidden">Page </span>{{ page }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% if include.next_page %}
      <div class="flex--1 text-align--right">
        <a class="pager--link pager--link--next button" href="{{ include.next_page_path | relative_url }}">
          Next<span class="a11y--visually-hidden"> page, {{ include.next_page }}</span>
        </a>
      </div>
    {% endif %}
  </nav>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Cards are represent content that has its own page.

  @see https://inclusive-components.design/cards/
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.

  @see https://www.a11ymatters.com/pattern/pagination/
{% endcapture %}

{% capture props %}
  base_url| The URL of the page with the pager| /blog/
  classes| css classes applied to parent| color--main-dark,
  page| The current page number| 1,
  next_page| Bool whether there is a next page| false,
  next_page_path| The next page path given to the paginator object| page-4,
  previous_page| Bool whether there is a previous page| false,
  previous_page_path| The previous page path given to the paginator object| page-2,
  total_pages| Total number of paginated pages| 4
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
