{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.

aria-current="true"
{% endcomment %}

{% capture component %}
  <nav role="navigation" aria-label="Pagination. On page {{ include.page }} of {{ include.total_pages }}"
    class="display--flex flex-direction--row {% if include.classes %}{{ include.classes }}{% endif %}">
    {% if include.entity.collection %}
      {% assign collection_name = include.entity.collection %}
    {% else %}
      {% assign collection_name = "html_pages" %}
    {% endif %}
    {% assign collection = site[collection_name] | where_exp:'doc','doc.sitemap != false' | where_exp:'doc','doc.title != null' %}

    {% for entity in collection  %}
      {% if entity.title == include.entity.title %}
        {% unless forloop.first %}
          {% assign prev = previous_entity %}
        {% endunless %}

        {% unless forloop.last %}
          {% assign next = collection[forloop.index] %}
        {% endunless %}
      {% endif %}

      {% assign previous_entity = entity %}
    {% endfor %}

    {% if prev %}
      <div class="flex--1 text-align--left">
        <a class="pager--link pager--link--prev button" href="{{ prev.url | relative_url }}">
          Previous<span class="a11y--visually-hidden"> page, {{ prev.title }}</span>
        </a>
        <span class="pager--link--title layout--hide--narrow" aria-hidden="true">{{ prev.title }}</span>
      </div>
    {% endif %}

    {% if next %}
      <div class="flex--1 text-align--right">
        <a class="pager--link pager--link--next button" href="{{ next.url | relative_url }}">
          Next<span class="a11y--visually-hidden"> page, {{ next.title }}</span>
        </a>
        <span class="pager--link--title layout--hide--narrow" aria-hidden="true">{{ next.title }}</span>
      </div>
    {% endif %}
  </nav>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Cards are represent content that has its own page.

  @see https://inclusive-components.design/cards/
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.

  @see https://www.a11ymatters.com/pattern/pagination/
{% endcapture %}

{% capture props %}
  base_url| The URL of the page with the pager| /blog/
  classes| css classes applied to parent| color--main-dark,
  page| The current page number| 1,
  next_page| Bool whether there is a next page| false,
  next_page_path| The next page path given to the paginator object| page-4,
  previous_page| Bool whether there is a previous page| false,
  previous_page_path| The previous page path given to the paginator object| page-2,
  total_pages| Total number of paginated pages| 4
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
