{% comment %}
  Components/includes use captures for content and documentation. The 'component' area is the component proper.

  The component is rendered at the end via the 'mode' conditional.

  Please thoroughly document all components.
{% endcomment %}

{% capture component %}
  <div class="product--summary {% if include.classes %}{{ include.classes }}{% endif %}">
    <p><em>SKU</em>: {{ include.entity.sku }}</p>
    <p><em>Price</em>: <strong>{{ include.entity.price }}</strong></p>
  </div>
{% endcapture %}

{% capture usage %}
  ## General guidance

  Product widgets set up a buy button for snipcart with a quantity selector.
{% endcapture %}

{% capture accessibility %}
  Just some sample text in the accessibility section for now.
{% endcapture %}

{% capture props %}
  classes| css classes applied to parent| color--main-dark,
  entity| the product with the necessary props| product
{% endcapture %}
{% assign classes = "image--polaroid, font-family--secondary" | split: ", " %}

{% comment %} "Mode conditional" for rendering. {% endcomment %}
{% if include.mode == "docblock" %}
  {% include molecules/docblock.html
    accessibility=accessibility
    classes=classes
    html=component
    props=props
    source=include
    usage=usage
  %}
{% else %}
  {{ component }}
{% endif %}
