{% comment %}<!-- For privacy this only loads third-party if user has already started a cart. -->{% endcomment %}
<div id="snipcart" data-api-key="{{ site.snipcart.api_key }}" hidden></div>

<script async defer src="{{ site.subpath }}/assets/js/conditional/snipcart-checkout.js"></script>
<script>
  /* This CSS file loads a Google font that adds a GA cookie, so only do that if we absolutely have to. */
  window.addEventListener('load', (event) => {
    if ("Snipcart" in window) {
      var tag = document.createElement("link");
      tag.rel = "stylesheet";
      tag.href = "https://cdn.snipcart.com/themes/v3.0.9/default/snipcart.css";
      document.head.appendChild(tag);
    }
  });
</script>
