<header class="layout--strip background-color--grey"><div class="layout--stripe--inner display--flex layout--row">
  <a class="logo-link flex--1" itemprop="url" href="{{ site.subpath }}/">
    <h1 class="site-name" itemprop="name">
      <img class="logo" itemprop="logo" src="{{ site.subpath }}/images/logo.png" alt="{{ site.title }}" />
    </h1>
  </a>
  <div class="actions flex--1 display--flex layout--row justify-content--center align-items--center">
    <a class="button icon tel" itemprop="telephone" href="tel:+1{{ site.phonedigits }}">{{ site.phone }}</a>
    <a class="button icon email" itemprop="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
</div></header>
