<section class="layout--strip layout--hide--animations background-color--third-light"><div class="position--relative layout--stripe--inner">
  <figure class="animation-name--slide-spin animation-iteration-count--infinite animation-direction--alernate animation-duration--3s">
    <img src="/assets/images/brad_head_100x100.png" alt="Bizarro Brad" />
  </figure>

  <figure class="animation-name--slide-spin animation-iteration-count--infinite animation-direction--alternate-reverse animation-duration--3s">
    <img src="/assets/images/shelby_head_100x100.png" alt="Bizarro Shelby" />
  </figure>
</div></section>

<section class="layout--stripe splash"><div class="layout--stripe--inner">
  <h2 class="tagline">{{ site.tagline }}</h2>
</div></section>