<section class="copyright layout--strip background-color--main-dark color--white">
  <div class="layout--stripe--inner">
    <p>
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.primary_author }}. Text is available under the
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
    </p>
    <p><a href="{{ site.source_repo }}">Github source</a></p>
    {% include molecules/menu.html menu="copyright" classes="border-spaced display--flex layout--row menu-layout--horizontal" %}
  </div>
</section>
