<footer class="footer layout--strip background-color--main color--white"><div class="layout--stripe--inner">
  {% for location in site.locations %}
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span>{{ location.name }}</span><br>
      <span itemprop="streetAddress">{{ location.street_address }}</span><br>
      <span itemprop="addressLocality">{{ location.locality }}</span>,
      <span itemprop="addressRegion">{{ location.region }}</span>
      <span itemprop="postalCode">{{ location.postal_code }}</span>
    </address>
  {% endfor %}
  {% if site.social %}
    <div class="social">
    {% for link in site.social %}
      <a href="{{ link.url }}">
        {% if link.icon %}
          {% include atoms/icon.html library=link.icon.library symbol=link.icon.symbol %}
        {% endif %}
        <span>{{ link.title }}</span>
      </a>
    {% endfor %}
    </div>
  {% endif %}
</div></footer>
