/**
 * @file
 * Component and class-level styles.
 */

/**
 * Skip-to-main-content links for accessibility.
 */
.a11y--skip-hide {
  background: var(--color--grey);
  position: relative;
  text-align: center;
}
.a11y--skip-hide a {
  color: var(--color--grey);
  display: block;
  height: 1px;
  left: -10000px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: auto;
  width: 1px;
}
.a11y--skip-hide a:focus {
  height: auto;
  outline: 0 none;
  position: static;
  width: auto;
}

/**
 * Sticky main header for the site.
 */
@media all and (min-width: 1024px) {
  .headroom {
    left: 0;
    position: fixed;
    right: 0;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
    will-change: transform;
    z-index: 100;
  }
  .headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.headroom--not-top .region--overhang {
  background-color: var(--color--grey-light);
}

/**
 * Clickable card hover states.
 */
.hover--bg {
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.hover--bg:hover,
.hover--bg:active,
.hover--bg:focus {
  /* Potentially add a hover style. */
}

/**
 * Trigger animated visibility.
 */
.js .animateOnScroll {}
.js .revealOnScroll {
  opacity: 0;
}
.js .revealOnScroll.animated {
  opacity: 1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}




/**
 * Core messages.
 */
.messages {
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
}
.messages--error {
  background-color: var(--color--error-background);
  color: var(--color--error);
}
.messages--status {
  background-color: var(--color--status-background);
  color: var(--color--status);
}
.messages--warning {
  background-color: var(--color--warning-background);
  color: var(--color--warning);
}

/**
 * Dismissable messages.
 */
.messages[id] {
  padding: 10px 30px 10px 10px;
  position: relative;
}
.messages[id] button {
  background: none;
  color: inherit;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 50%;
  top: -webkit-calc(50% - 14px);
  top: -moz-calc(50% - 14px);
  top: calc(50% - 14px);
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.messages[id] button:hover,
.messages[id] button:active {
  background: rgba(255,255,255,.5);
}



/**
 * Core pagers.
 */
.pager {
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}
.pager ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pager ul > li {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.pager li > a,
.pager li > span {
  color: var(--color--grey);
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
.pager li > a:hover {
  border-color: var(--color--grey);
}
.pager li.pager-current > span,
.pager li.pager-current > a,
.pager li.is-active > span,
.pager li.is-active > a {
  border-color: var(--color--grey);
}
.pager li.pager__item--previous {
  border-right: 1px solid var(--color--grey);
  margin-right: 4px;
  padding-right: 16px;
}
.pager li.pager__item--next {
  border-left: 1px solid var(--color--grey);
  margin-left: 4px;
  padding-left: 16px;
}

/**
 * Add stylistic pipes to lists.
 */
 @media all and (min-width: 768px) {
  .pipe-spaced {}
  .pipe-spaced li::after {
    content: '|';
    display: inline-block;
    font-weight: 300;
    opacity: .9;
    padding: 0 2px;
    vertical-align: middle;
  }
  .pipe-spaced li:last-child::after,
  .pipe-spaced li.last::after {
    display: none;
  }
}

/**
 * A "street sign", tripe-D style.
 *
 * Base class applies to children. Each child pads down, and base element is bottom padded quite a lot.
 */
.street-sign {
  padding: 0 20px 100px;
  position: relative;
  text-align: center;
}
.street-sign > h1 {
  margin-bottom: 30px;
}
.street-sign > h2 {
  margin-bottom: 30px;
}
.street-sign > h3 {
  margin-bottom: 30px;
}
