/**
 * @file
 * Tag-level, tables, forms, and other base styling.
 */

/**
 * CSS Custom properties for colors and other variables.
 */
:root {
  --color--black: #222;
  --color--grey-dark: #555;
  --color--grey: #999;
  --color--grey-light: #eee;
  --color--white: #fff;
  --color--main: #003f80; /* 127 brightness */
  --color--main-dark: #002955; /* 170 brightness */
  --color--main-light: #004cff; /* 0 brightness */
  --color--second: #803100;
  --color--second-dark: #552900;
  --color--second-light: #ff6000;
  --color--third: #807100;
  --color--third-dark: #554600;
  --color--third-light: #fff000;
  --color--accent: #600080;

  /* Message colors. Can be customized to be site-appropriate. */
  --color--status: #004085;
  --color--status-background: #cce5ff;
  --color--warning: #856404;
  --color--warning-background: #fff3cd;
  --color--error: #721c24;
  --color--error-background: #f8d7da;

  /* Font settings. */
  --font-family--input: 'Lato';
  --font-family--monospace: 'courier new';
  --font-family--primary: 'Lato';
  --font-family--secondary: 'Engagement';
  --line-height--default: 1.425;
  --line-height--heading: 1;

  /* Layout and spacing. */
  --layout--content-area: 1080px;
  --spacing--single: 0.625rem;
}
