/**
 * @file
 * Component and class-level styles.
 */

/**
 * Skip-to-main-content links for accessibility.
 */
.a11y--skip-hide {
  background: var(--color--main-dark);
  position: relative;
  text-align: center;
}
.a11y--skip-hide a {
  color: var(--color--white);
  display: block;
  height: 1px;
  left: -10000px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: auto;
  width: 1px;
}
.a11y--skip-hide a:focus {
  height: auto;
  outline: 0 none;
  position: static;
  width: auto;
}

/**
 * Alerts.
 */
.alert {
  border: 1px solid;
  border-radius: var(--border-radius--default);
  font-style: italic;
  margin: 10px 0;
  padding: 10px;
}
.alert--error {
  background-color: var(--color--error-background);
  color: var(--color--error);
}
.alert--status {
  background-color: var(--color--status-background);
  color: var(--color--status);
}
.alert--warning {
  background-color: var(--color--warning-background);
  color: var(--color--warning);
}

/**
 * Background images and gradients.
 */
.background-image--affectation {
  background-image: url('../images/required/bg--affectation.svg');
  background-position: top right;
  background-repeat: no-repeat;
}
.background-image--dirt {
  background-image: url('../images/bg-dirt.png');
  background-position: center center;
  background-repeat: repeat;
}
.background-image--gradient--second-white-starburst {
  background-image: repeating-conic-gradient(
    from 3deg at -15% 115%,
    var(--color--second-light) 0 1deg,
    var(--color--white) 0 4deg,
    transparent 0 7deg
  );
}

/**
 * Effects based on scroll.
 */
.body-scroll--up {}
@media all and (min-width: 1024px) {
  .body-scroll--up .nav--main {
    box-shadow: 0 2px 6px rgba(136, 165, 191, 0.9);
    position: sticky;
    top: 0;
    transition: var(--transition--default);
    z-index: 9999;
  }
}

/**
 * Add stylistic pipes to lists.
 */
.border-spaced {}
.border-spaced > li {
  border-bottom: 1px solid;
}
.border-spaced li:last-child {
  border-bottom: 0 none;
}
@media all and (min-width: 768px) {
  .border-spaced > li {
    border-right: 1px solid;
    border-bottom: 0 none;
  }
  .border-spaced li:last-child {
    border-right: 0 none;
  }
}

/**
 * Browser upgrade prompt for any version of IE.
 *
 * Omitting Custom Props here since IE does not support them.
 */
.browserupgrade {
  background-color: #1d3141;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding: 20px;
  text-align: left;
}
.browserupgrade a:link,
.browserupgrade a:visited {
  color: #fafafa;
  text-decoration: underline;
}
.browserupgrade a:hover,
.browserupgrade a:hover,
.browserupgrade a:hover {
  color: #ffc227;
}
.browserupgrade > p {
  margin: 0 auto;
  max-width: 960px;
}

/**
 * Cards (teasers).
 */
.card {
  border: 2px solid transparent;
  border-radius: .5em;
  box-shadow:
    8px 4px 12px rgba(136,165,191,.5),
    -8px -4px 8px rgba(248,248,248,.5)
  ;
  text-shadow: 0 0 2px rgba(0,0,0,.325);
  transition: var(--transition--default);
}
.card figure {
  border-top-left-radius: .45em;
  border-top-right-radius: .45em;
  overflow: hidden;
}
.card h3 {
  margin-bottom: calc(1.5 * var(--spacing--single));
}
.card h3 + h4 {
  margin-bottom: calc(1.5 * var(--spacing--single));
  margin-top: calc(-1 * var(--spacing--single));
}
.card--hover:hover,
.card--hover:active,
.card--hover:focus-within {
  border-color: rgba(255,255,255,.2);
  box-shadow:
    8px 4px 12px rgba(136,165,191,.5),
    -8px -4px 8px rgba(248,248,248,.5),
    inset 4px 2px 6px rgba(136,165,191,.5),
    inset -4px -2px 6px rgba(248,248,248,.5)
  ;
}

/**
 * The page-bottom copyright section.
 */
.copyright {}
.copyright p {
  max-width: none;
}

/**
 * GDPR Cookie disclosure dialog (fixed to bottom of screen).
 */
.dialog--cookie-disclosure {
  box-shadow: 0 -2px 6px rgba(136,165,191,0.9);
}

/**
 * Icons.
 *
 * By default set icon wrappers to a character wide and hight.
 */
.figure--icon {
  height: 1.25ch;
  vertical-align: top;
  width: 1.25ch;
}
.figure--icon > svg {
  fill: currentColor;
}

/**
 * Polaroid-style images for the gallery.
 */
.figure--image--polaroid > img {
  border: 1px solid var(--color--grey);
  box-shadow:
    0 0 0 calc(2 * var(--spacing--single)) var(--color--white),
    0 calc(2 * var(--spacing--single)) 0 calc(2 * var(--spacing--single)) var(--color--white),
    calc(2 * var(--spacing--single)) calc(6 * var(--spacing--single)) calc(2 * var(--spacing--single)) 0 rgba(0,0,0,.5)
  ;
}
.figure--image--polaroid > figcaption {
  background-color: var(--color--white);
  color: var(--color--grey-dark);
}
.figure--image--polaroid:nth-of-type(3n + 1) {
  transform: rotate(-3deg);
}
.figure--image--polaroid:nth-of-type(3n + 1) > figcaption {
  color: var(--color--main-dark);
}
.figure--image--polaroid:nth-of-type(3n + 2) {
  transform: rotate(3deg);
}
.figure--image--polaroid:nth-of-type(3n + 2) > figcaption {
  color: var(--color--accent);
}

/**
 * Forms and form elements.
 */
.form {}
.form--item:not([class*="flex--"]) + .form--item:not([class*="flex--"]) {
  margin-top: calc(2 * var(--spacing--single));
}
.form--item--description {
  font-size: .75em;
}
.form--item--radio {
  border: 2px solid transparent;
  border-radius: .5em;
  box-shadow:
    4px 2px 6px rgba(136,165,191,.5),
    -4px -2px 4px rgba(255,255,255,1)
  ;
  cursor: pointer;
  transition: var(--transition--default);
}
.form--item--radio:hover,
.form--item--radio:active,
.form--item--radio:focus-within {
  border-color: rgba(255,255,255,.2);
  box-shadow:
    4px 2px 6px rgba(136,165,191,.5),
    -4px -2px 4px rgba(255,255,255,1),
    inset 2px 1px 3px rgba(136,165,191,.5),
    inset -2px -1px 3px rgba(255,255,255,.9)
  ;
}

/**
 * Dismissible elements.
 */
.js--dismissible {
  min-height: 35px; /* Magic number because of the button height below. */
  padding-right: 55px !important; /* Magic number because of the button width below. */
}
.js--dismissible--close {
  color: currentColor;
  margin: 0;
  padding: calc(.75 * var(--spacing--single)) calc(1 * var(--spacing--single));
  position: absolute;
  right: calc(1 * var(--spacing--single));
  top: calc(50% - 17.5px);
}

/**
 * Rudimentary lightbox.
 */
.js--event--click {
  cursor: pointer;
  transition: var(--transition--default);
}
.js--event--click--toggle.click--lightbox {
  bottom: calc(2 * var(--spacing--single));
  display: block;
  left: calc(2 * var(--spacing--single));
  max-width: none !important;
  position: fixed;
  right: calc(2 * var(--spacing--single));
  top: calc(2 * var(--spacing--single));
  z-index: 9999;
}
.js--event--click--toggle.click--lightbox::after {
  background-color: rgba(0,0,0,.9);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -2;
}
.js--event--click--toggle.click--lightbox:not(.figure--image--polaroid) > figcaption {
  color: var(--color--white);
}

/**
 * Toggle below (Open/Close below) buttons.
 */
.js--toggle-below {}
.js--toggle-below--closed {
  display: none;
}

/**
 * Markdown-processed text.
 *
 * For HTML pages we can leverage spacer atoms to provide vertical spacing. When we use plain markdown we need to
 * introduce automatic vertical rhythm; specifically some margins around headers.
 */
.markdownified {}
.markdownified h2,
.markdownified h3,
.markdownified h4,
.markdownified h5,
.markdownified h6 {
  margin-bottom: .25em;
  margin-top: 1.5em;
}
.markdownified h2:first-child,
.markdownified h3:first-child,
.markdownified h4:first-child,
.markdownified h5:first-child,
.markdownified h6:first-child {
  margin-top: 0;
}

/**
 * Menus.
 */
.menu {}
.menu-item {
  margin: calc(0.5 * var(--spacing--single)) 0 calc(0.5 * var(--spacing--single)) calc(0.5 * var(--spacing--single));
  padding-right: calc(0.5 * var(--spacing--single));
}
.menu-item > a {
  color: inherit;
  display: block;
  margin: 0 auto;
  max-width: calc(var(--layout--content-area) / 5);
  padding: calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single));
}
.color--white .menu-item > a:hover,
.color--white .menu-item > a:active,
.color--white .menu-item > a.active,
.color--white .menu-item > a:focus {
  background-color: var(--color--second);
  text-decoration: underline;
}
@media all and (min-width: 768px) {
  .menu-layout--horizontal {
    text-align: center;
  }
}

/**
 * Initial "top" state for the main nav, to allow for transitions via body-scroll--
 */
.nav--main {
  position: static;
  top: -300px;
  transition: var(--transition--default);
}

/**
 * Core pagers.
 */
.pager {
  font-weight: 600;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}
.pager ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pager ul > li {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.pager li > a,
.pager li > span {
  color: var(--color--grey);
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
.pager li > a:hover {
  border-color: var(--color--grey);
}
.pager li.pager-current > span,
.pager li.pager-current > a,
.pager li.is-active > span,
.pager li.is-active > a {
  border-color: var(--color--grey);
}
.pager li.pager__item--previous {
  border-right: 1px solid var(--color--grey);
  margin-right: 4px;
  padding-right: 16px;
}
.pager li.pager__item--next {
  border-left: 1px solid var(--color--grey);
  margin-left: 4px;
  padding-left: 16px;
}

/**
 * Add stylistic pipes to lists.
 */
 @media all and (min-width: 768px) {
  .pipe-spaced {}
  .pipe-spaced > li::after {
    content: '|';
    display: inline-block;
    font-weight: 300;
    opacity: .9;
    padding: 0 2px;
    vertical-align: middle;
  }
  .pipe-spaced > li:last-child::after {
    display: none;
  }
}

/**
 * Social links.
 */
.social a {
  display: block;
}

/**
 * A "street sign", tripe-D style.
 *
 * Base class applies to children. Each child pads down, and base element is bottom padded quite a lot.
 */
.street-sign {
  bottom: calc(-2 * var(--spacing--single));
  display: block;
  font-size: 2rem;
  margin: calc(2 * var(--spacing--single)) auto 0;
  max-width: calc(100vw - 4.5em);
  padding: 0 calc(2 * var(--spacing--single)) calc(10 * var(--spacing--single));
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: rotate(5deg);
}
@media all and (min-width: 480px) {
  .street-sign {
    max-width: 6em;
  }
}
@media all and (min-width: 768px) {
  .street-sign {
    font-size: 4vw;
    margin: calc(8 * var(--spacing--single)) auto 0;
  }
}
@media all and (min-width: 1080px) {
  .street-sign {
    font-size: 3rem;
    margin-left: 0;
  }
}
.street-sign::before {
  background-color: var(--color--grey);
  background-image: linear-gradient(
    to right,
    var(--color--grey),
    var(--color--grey-dark)
  );
  bottom: 0;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 10%;
  width: 20px;
  z-index: 1;
}
.street-sign > * {
  display: block;
  margin: 0 auto calc(3 * var(--spacing--single));
  padding: calc(1 * var(--spacing--single));
  position: relative;
  transition: var(--transition--default);
  z-index: 4;
}
.street-sign > :first-child {
  background-color: var(--color--grey-dark);
  background-image: repeating-conic-gradient(
    from 3deg at -10% -10%,
    transparent 0,
    var(--color--grey) 8deg,
    transparent 16deg
  );
  border: 3px solid var(--color--street-sign--glow);
  border-radius: 6px;
  box-shadow:
    0 0 0 3px var(--color--black),
    0 0 2px 6px var(--color--street-sign--glow),
    -6px 6px 0 12px var(--color--black)
  ;
  color: var(--color--black);
  font-size: 2em;
  text-shadow: 0 0 8px var(--color--street-sign--glow);
  transform: rotate(-15deg) skew(10deg, 10deg);
}
.street-sign > :nth-child(2) {
  color: var(--color--street-sign--red);
  filter: drop-shadow(0 0 3px var(--color--second));
  font-style: italic;
  padding: 0;
  text-shadow:
    0 0 2px var(--color--street-sign--red-light),
    1px 3px 4px var(--color--street-sign--red-dark)
  ;
  transform: rotate(-2deg);
}
.street-sign > :nth-child(2) > * {
  background-color: var(--color--street-sign--peach);
  background-image: repeating-linear-gradient(
    90deg,
    var(--color--second-light) 0 3px,
    transparent 0 9px
  );
  clip-path: polygon(0 20%, 80% 20%, 80% 0, 100% 50%, 80% 100%, 80% 80%, 0 80%, 10% 50%);
  display: block;
  padding: 15% 10% 15% 7.5%;
}
.street-sign > :nth-child(n + 3) {
  background-color: var(--color--street-sign--peach);
  background-image: url('../images/bg-dirt.png');
  border: 3px solid var(--color--second);
  border-radius: 9px;
  color: rgba(65,32,28,0.65);
  letter-spacing: -0.1em;
  transform: rotate(-8deg);
}
.street-sign > :nth-child(n + 3) > b {
  display: inline-block;
  filter: url('../images/css-filters.svg#feTurbulence');
  font-weight: 900;
  text-shadow: 0 0 1px var(--color--street-sign--peach);
  transform: rotate(15deg);
}
.street-sign > :nth-child(n + 3) > b:nth-child(2n) {
  transform: rotate(-15deg);
}
.street-sign > :nth-child(n + 3) > b:nth-child(1),
.street-sign > :nth-child(n + 3) > b:nth-child(3),
.street-sign > :nth-child(n + 3) > b:nth-child(6) {
  color: var(--color--second-light);
  font-family: var(--font-family--primary);
  font-weight: 400;
  position: relative;
  text-shadow:
    0 0 6px var(--color--second),
    4px 4px 4px var(--color--black)
  ;
  top: -10px;
}

/**
 * Text-shadows to match the theme.
 */
.text-shadow--second-light--solid {
  text-shadow: 3px 3px 0 var(--color--second-light);
}
