/**
 * @file
 * Custom properties defined at the root, used for both utilities and the theme.
 */

/**
 * CSS Custom properties for colors and other variables.
 */
:root {
  --color--black: #222;
  --color--grey-dark: #555;
  --color--grey: #999;
  --color--grey-light: #eee;
  --color--white: #fff;
  --color--main: #4074a0; /* 95 brightness */
  --color--main-dark: #1d3141; /* 190 brightness */
  --color--main-light: #74c2ff; /* 0 brightness */
  --color--second: #a0781f;
  --color--second-dark: #41201c;
  --color--second-light: #ffc227;
  --color--third: #73a040;
  --color--third-dark: #204120;
  --color--third-light: #b7ff61;
  --color--accent: #6d40a0;

  /* Message colors. Can be customized to be site-appropriate. */
  --color--status: #004085;
  --color--status-background: #cce5ff;
  --color--warning: #856404;
  --color--warning-background: #fff3cd;
  --color--error: #721c24;
  --color--error-background: #f8d7da;

  /* Special colors. */
  --color--street-sign--glow: #b062ff;
  --color--street-sign--peach: #fad295;
  --color--street-sign--red: #a01022;
  --color--street-sign--red-dark: #410e18;
  --color--street-sign--red-light: #ff808a;

  /* Font settings. */
  --font-family--input: 'Lato';
  --font-family--monospace: 'courier new';
  --font-family--primary: 'Lato';
  --font-family--secondary: 'Engagement';
  --line-height--default: 1.425;
  --line-height--heading: 1;

  /* Layout and spacing. */
  --layout--content-area: 1080px;
  --spacing--single: 0.625rem;
}
