---
layout: null
---

:root {
  {% for tokens in site.data.design-tokens %}
{% for scope in tokens %}
Scope: {{ scope | size }} (should be 8 and 1)
    {% for file in scope %}
File: {{ file | size }} (1)
      {% for property in file %}
Property: {{ property | size }} (varies)
        {% for item in property %}
Item: {{ item | size }} (5)
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% endfor %}
}
