/**
 * @file
 * Margin and padding classes.
 */

/**
 * Proportional, responsive margin classes.
 */
.margin-horizontal--0 {
  margin-left: 0;
  margin-right: 0;
}
.margin-horizontal--1 {
  margin-left: 5px;
  margin-right: 5px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--1 {
    margin-left: 0;
    margin-right: 0;
  }
}
.margin-horizontal--2 {
  margin-left: 10px;
  margin-right: 10px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--2 {
    margin-left: 0;
    margin-right: 0;
  }
}
.margin-horizontal--4 {
  margin-left: 20px;
  margin-right: 20px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--4 {
    margin-left: 0;
    margin-right: 0;
  }
}
.margin-horizontal--8 {
  margin-left: 40px;
  margin-right: 40px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--8 {
    margin-left: 0;
    margin-right: 0;
  }
}
.margin-horizontal--16 {
  margin-left: 80px;
  margin-right: 80px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--16 {
    margin-left: 0;
    margin-right: 0;
  }
}
.margin-horizontal--32 {
  margin-left: 160px;
  margin-right: 160px;
}
@media all and (max-width: 767px) {
  .margin-horizontal--32 {
    margin-left: 0;
    margin-right: 0;
  }
}

.margin-top--auto {
  margin-top: auto;
}

.margin-vertical--0 {
  margin-bottom: 0;
  margin-top: 0;
}
.margin-vertical--1 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.margin-vertical--2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.margin-vertical--4,
.button.margin-vertical--4,
a.button.margin-vertical--4 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.margin-vertical--8 {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media all and (max-width: 960px) {
  .margin-vertical--8 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.margin-vertical--16 {
  margin-bottom: 80px;
  margin-top: 80px;
}
@media all and (max-width: 960px) {
  .margin-vertical--16 {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.margin-vertical--32 {
  margin-bottom: 160px;
  margin-top: 160px;
}
@media all and (max-width: 960px) {
  .margin-vertical--32 {
    margin-bottom: 80px;
    margin-top: 80px;
  }
}

/**
 * Padding classes.
 *
 * Horizontal for column section entities. At the mobile breakpoint the padding
 * zeroes out for consistency.
 *
 * Columns are then vertically spaced using flex classes from property--value.
 */
.padding--20px {
  padding: 20px;
}
/* In this system images full bleed containers more than they don't */
.padding--20px > figure,
.margin-negative--20px {
  margin: -20px -20px 0;
}
.padding-horizontal--0 {
  padding-left: 0;
  padding-right: 0;
}
.padding-horizontal--1 {
  padding-left: 5px;
  padding-right: 5px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--1 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--2 {
  padding-left: 10px;
  padding-right: 10px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--2 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--4 {
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--4 {
    padding-left: 0;
    padding-right: 0;
  }
  [class*="border"].padding-horizontal--4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.padding-horizontal--8 {
  padding-left: 40px;
  padding-right: 40px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--8 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--16 {
  padding-left: 80px;
  padding-right: 80px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--16 {
    padding-left: 0;
    padding-right: 0;
  }
}
.padding-horizontal--32 {
  padding-left: 160px;
  padding-right: 160px;
}
@media all and (max-width: 767px) {
  .padding-horizontal--32 {
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-vertical--0 {
  padding-bottom: 0;
  padding-top: 0;
}
.padding-vertical--1 {
  padding-bottom: 5px;
  padding-top: 5px;
}
.padding-vertical--2 {
  padding-bottom: 10px;
  padding-top: 10px;
}
.padding-vertical--4 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.padding-vertical--8 {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media all and (max-width: 960px) {
  .padding-vertical--8 {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.padding-vertical--16 {
  padding-bottom: 80px;
  padding-top: 80px;
}
@media all and (max-width: 960px) {
  .padding-vertical--16 {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.padding-vertical--32 {
  padding-bottom: 160px;
  padding-top: 160px;
}
@media all and (max-width: 960px) {
  .padding-vertical--32 {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
