---
authors:
  - alex-inman
#categories: ["one", "two"]
contact: "inman.alex [at] gmail.com"
#date: 2020-03-03 02:02:02
from: "Fort Collins, Colorado, USA"
#hero_classes: "background-color--main-dark color--white"
job_title: "Best Man"
meta:
  description: "Construction manager extraordinaire"
  image:
    alt: "Alex Inman"
    src: 1200x630/alex-inman.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /people/brad-czerniak/
#published: true
#sitemap: true
short_name: alex
#tags: ["three", "four"]
title: "Alex Inman"
#twitter:
#  creator: "@ao5357"
weight: 4
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="About Alex"
      classes="text-shadow--second-light--solid"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <p>Full bio here.</p>
  </div>
</section>
