---
authors:
  - brad-czerniak
#categories: ["one", "two"]
contact: "ao5357 [at] gmail.com"
#date: 2020-03-03 02:02:02
from: "Lincoln Park, Michigan, USA"
#hero_classes: "background-color--main-dark color--white"
job_title: "Groom"
meta:
  description: "Drupal dev team lead, librarian, renaissance man"
  image:
    alt: "Brad Czerniak"
    src: 1200x630/brad-czerniak.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /people/brad-czerniak/
#published: true
#sitemap: true
short_name: brad
#tags: ["three", "four"]
title: "Brad Czerniak"
twitter:
  creator: "@ao5357"
weight: 2
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
    children="Optimistic about components working..."
    classes="text-shadow--second-light--solid"
    level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <p>Here is some information.</p>
  </div>
</section>
