---
authors:
  - shelby-hassell
#categories: ["one", "two"]
contact: "s.sleete [at] gmail.com"
#date: 2020-03-03 02:02:02
from: "Troy, Michigan, USA"
#hero_classes: "background-color--main-dark color--white"
job_title: "Officiant, Sister of the bride"
meta:
  description: "Roll tide, Leander's mom"
  image:
    alt: "Channing Jones"
    src: 1200x630/channing-jones.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /people/shelby-hassell/
#published: true
#sitemap: true
short_name: shelby
#tags: ["three", "four"]
title: "Channing Jones"
twitter:
  creator: "@all_maudra"
weight: 4
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="About Channing"
      classes="text-shadow--second-light--solid"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <p>
      Channing is reassurance personified.
    </p>

    <p>
      She grew up in Troy, Michigan in the nineties, middle child of the Sleete family. Channing studied speech pathology
      (-ish stuff?) and French in college, and makes a life of helping people. She lives in Maryland with her husband,
      Mike, and their young son Leander.
    </p>

    <p>
      Channing exudes calm and acceptance; qualities we are glad to have in an officiant on our wedding day!
    </p>
  </div>
</section>
