---
authors:
  - shelby-hassell
#categories: ["one", "two"]
contact: "s.sleete [at] gmail.com"
#date: 2020-03-03 02:02:02
from: "Troy, Michigan, USA"
#hero_classes: "background-color--main-dark color--white"
job_title: "Philosopher in residence"
meta:
  description: "Still worried about almond milk's environmental impact"
  image:
    alt: "Chidi Anagonye"
    src: 1200x630/chidi-anagonye.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /people/shelby-hassell/
#published: true
#sitemap: true
short_name: shelby
#tags: ["three", "four"]
title: "Chidi Anagonye"
twitter:
  creator: "@all_maudra"
weight: 4
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Optimistic about components working..."
      classes="text-shadow--second-light--solid"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <p>Here is some information.</p>
  </div>
</section>
