---
layout: compress
---
<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0" />

    {% comment %}
      <!-- The above meta tags are blocking, so don't move them. Title is a good next step.
        -- Note that Lighthouse has a test to ensure maximum-scale is at least 5 above.
        -->
    {% endcomment %}
    {% if page.front %}
      <title>{{ site.title }} | {{ page.title }}</title>
    {% else %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}

    {% comment %}
      <!-- Main CSS and Loading interstitial. Grabbing main CSS first since it's an HTTP round-trip to prioritize.
        -- Uses a slightly modified version of the print stylesheet technique: https://timkadlec.com/remembers/2020-02-13-when-css-blocks/
        -->
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ site.subpath }}/assets/css/style.css" media="print" onload="this.media='all'" />
    {% include head/loading.html %}

    {% comment %}
      <!-- Link/meta tags primarily for semantics/SEO/social.
        -- Where possible setting a site-wide value from _config.yml that can be overridden on a page-by-page basis using
        -- the same value in the YAML front-matter (page. instead of site.)
        -->
    {% endcomment %}
    <link rel="canonical" href="{{ site.baseurl }}{{ site.subpath }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.baseurl }}{{ site.subpath }}/apple-touch-icon.png" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}{{ site.subpath }}/{{ page.url }}" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta property="og:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 155, '' }}" />
      <meta property="og:description" content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 155, '' }}" />
    {% endif %}

    {% comment %}
      <!-- PWA and browser-specific tweaks.
        -- Some of these could tentatively make HTTP calls that we don't need,
        -- so let's throw them at the bottom of the head.
        -->
    {% endcomment %}
    <meta name="apple-mobile-web-app-title" content="{{ site.shortname }}" />
    <meta name="theme-color" content="{{ site.manifest_webmanifest.theme_color }}">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}{{ site.subpath }}/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="author" href="{{ site.baseurl }}{{ site.subpath }}/humans.txt" />
  </head>
  <body class="page-{{ page.url | slugify }}" itemscope itemtype="http://schema.org/{% if page.schema %}{{ page.schema }}{% else %}{{ site.schema }}{% endif %}">
    <!--[if IE]>
      <div class="browserupgrade">
        <p>
          You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a>
          to improve your experience and security.
        </p>
      </div>
    <![endif]-->

    <!-- Skip link to get past the header and nav and into the main page content. -->
    <div class="a11y--skip-hide">
      <a href="#main-content" class="focusable">Skip to main content</a>
    </div>

    {% include organisms/header.html %}
    {% include organisms/nav.html %}

    <main class="page" id="main-content">
      {% if page.front != true %}
        {% comment %}Using conditionals and assign/capture here because the default filter does not play nice.{% endcomment %}
        {% if page.hero_classes %}
          {% assign hero_classes = page.hero_classes %}
        {% else %}
          {% capture hero_classes %}background-color--main background-image--stars color--white text-align--center background-image-display-mobile--hide text-shadow--second-light--solid{% endcapture %}
        {% endif %}

        {% comment %}Demonstration of nesting components using capture. Seems excessive.{% endcomment %}
        {% capture hero_children %}
          {% include atoms/heading.html
            children=page.title
            classes="text-shadow--second-light--solid"
            level="1"
          %}
        {% endcapture %}

        {% include organisms/section.html
          classes=hero_classes
          children=hero_children
        %}
      {% endif %}

      {{ content }}

      {% if page.sections %}
        {% for slug in page.sections %}
          {{ site.sections | where:"slug",slug }}
        {% endfor %}
      {% endif %}
    </main>

    {% include organisms/footer.html %}
    {% include organisms/copyright.html %}

    {% if site.gaid %}{% include head/analytics.html %}{% endif %}
    <script async defer src="{{ site.subpath }}/assets/js/behavior.js"></script>
  </body>
</html>
