---
layout: compress
---
<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#"><head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0" />
  {% if page.front %}
    <title>{{ site.title }} | {{ page.title }}</title>
  {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}
  {% include head/loading.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.subpath }}/assets/css/style.css" media="print" onload="this.media='all'" />

  <meta name="apple-mobile-web-app-title" content="{{ site.shortname }}" />
  <meta name="theme-color" content="{{ site.theme_color }}">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}{{ site.subpath }}/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="author" content="{{ site.primary_author }}" />
  <meta property="og:image" content="{{ site.baseurl }}{{ site.subpath }}/apple-touch-icon.png" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.baseurl }}{{ site.subpath }}/{{ page.url }}" />
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 155, '' }}" />
    <meta property="og:description" content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 155, '' }}" />
  {% endif %}
  <link rel="author" href="{{ site.baseurl }}{{ site.subpath }}/humans.txt" />
  <link rel="canonical" href="{{ site.baseurl }}{{ site.subpath }}{{ page.url }}" />
</head><body class="page-{{ page.url | slugify }}">
  <main class="page" itemscope itemtype="http://schema.org/{% if page.schema %}{{ page.schema }}{% else %}{{ site.schema }}{% endif %}">
    {% include organisms/header.html %}
    {% include organisms/nav.html %}

    {% if page.front != true %}
      {% comment %}Using conditionals and assign/capture here because the default filter does not play nice.{% endcomment %}
      {% if page.hero_classes %}
        {% assign hero_classes = page.hero_classes %}
      {% else %}
        {% capture hero_classes %}background-color--main background-image--stars color--white text-align--center background-image-display-mobile--hide text-shadow--second-light--solid{% endcapture %}
      {% endif %}

      {% comment %}Demonstration of nesting components using capture. Seems excessive.{% endcomment %}
      {% capture hero_children %}
        {% include atoms/heading.html
          children=page.title
          classes="text-shadow--second-light--solid"
          level="1"
        %}
      {% endcapture %}

      {% include organisms/section.html
        classes=hero_classes
        children=hero_children
      %}
    {% endif %}

    {{ content }}

    {% if page.sections %}
      {% for slug in page.sections %}
        {{ site.sections | where:"slug",slug }}
      {% endfor %}
    {% endif %}

    {% include organisms/footer.html %}
    {% include organisms/copyright.html %}
    {% if site.gaid %}{% include head/analytics.html %}{% endif %}
    <script async defer src="{{ site.subpath }}/assets/js/behavior.js"></script>
  </main>
</body></html>
